setuptools>=36.0.0
urllib3
python-dotenv>=0.8.2
pandas>=1.0.5
tifffile>=2019.7.26
opencv-python>=4.3.0.36
scikit-image>=0.17.2
scikit-learn>=0.19.0 
scipy>=1.5.1
matplotlib>=3.3.0
networkx
seaborn>=0.9.0
pyqt5>=5.15.0
Sphinx
sphinx-rtd-theme
pyclustering
pytest>=4.6.0,<6.0.1
pytest-cov
numexpr>=2.6.2
cython>=0.21
snakemake>=5.20.1
h5py>=2.10.0
requests>=2.18.0
Shapely>=1.6.4.post2
rtree>=0.9.4
tables>=3.6.1
boto3
xmltodict
google-cloud-storage
docutils>=0.10
pillow>=7.0.0
cellpose
